@font-face {
    font-family: myfont;
    src: url(fonts/Kufyan-Arabic-Black.otf);
}

$color-main: #e5c67d;
$color-mai1: #a78c50;
$color-secn: #202020;
$color-thir: #171516;
$color-thi1: #5b5b5b;
$color-whit: #fff;
$main-font: myfont;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
    scroll-behavior: smooth;
}

body {
    background-color: #202020;
    color: $color-whit;
}

body,
button {
    font-family: $main-font
}

a {
    color: $color-main;
    text-decoration: none;
}

%flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

%center {
    margin: auto;
    width: 80%;
}

%animation {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }
}

// scroll btn
.scroll {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: $color-main;
    border-radius: 5px;
    position: fixed;
    display: none;
    border: none;
    transition: 1s;
    @extend %flex;

    ion-icon {
        color: $color-thir;
        font-size: 25px;
    }
}

// hamburger menu

// start header section ********************
.header {
    width: 100%;

    .header-nav {
        width: 100%;
        background-image: linear-gradient(to right, $color-thi1, $color-thir);
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0.5px 0.5px 4px $color-secn;
        z-index: 9999;

        nav {
            @extend %center;
            @extend %flex;
            line-height: 80px;

            @media screen and (max-width:767px) {
                display: flex;
                justify-content: space-between;
                padding: 15px;
            }

            img {

                display: block;
                width: 60px;
                height: auto;
                line-height: 80px;
                @extend %flex;
            }

            ul {
                list-style: none;

                @media screen and (max-width:999px) {
                    display: none;
                }

                @media screen and (min-width:768px) {
                    display: block;
                }

                li {
                    display: inline-block;
                    margin: 0 15px;


                    a {
                        color: $color-main;
                        font-size: 16px;
                        background: transparent;
                        position: relative;
                        transition: 0.2s ease;
                        padding: 5px;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 2px;
                            width: 0;
                            background-color: $color-main;
                            transition: 0.5s ease;
                        }

                        &:hover {
                            color: $color-thir;
                            transition-delay: 0.5s;

                            &::before {
                                width: 100%;
                            }

                            &::after {
                                height: 100%;
                                transition-delay: 0.4s;
                                color: $color-main;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 0;
                            width: 100%;
                            background-color: $color-main;
                            transition: .4s ease;
                            z-index: -1;
                        }
                    }

                    .active {
                        color: $color-whit;
                    }

                }
            }

            button {
                color: $color-main;
                display: inline-block;
                width: 130px;
                height: 40px;
                margin: 20px;
                position: relative;
                overflow: hidden;
                border: 2px solid $color-main;
                transition: color .5s;
                z-index: 1;
                font-size: 15px;
                border-radius: 6px;
                color: $color-main;
                background-color: transparent;

                @media screen and (max-width:999px) {
                    display: none;
                }

                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    background: $color-main;
                    height: 150px;
                    width: 200px;
                    border-radius: 50%;
                    top: 100%;
                    left: 100%;
                    transition: all .7s;
                }

                &:hover {
                    color: $color-thir;

                    &:before {
                        top: -30px;
                        left: -30px;
                    }
                }

                &:active {
                    &:before {
                        background: $color-main;
                        transition: background 0s;
                    }
                }
            }

            .hamburger {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $color-main;
                @extend %flex;
                text-align: center;
                align-items: center;
                display: none;

                ion-icon {
                    color: $color-thir;
                    font-size: 40px;
                }

                @media screen and (max-width:767px) {
                    display: block;
                }

            }
        }
    }
}

// start over view section *****************
.over-view {
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width:768px) {
        text-align: center;
        margin-top: 100px;
        flex-direction: column;
        height: auto;
    }

    .over-view-text {
        align-items: center;

        @media screen and (max-width:767px) {
            text-align: center;
            margin-top: 10px;
        }
    }

    button {
        display: inline-block;
        margin-top: 50px;
        width: 140px;
        height: 40px;
        background-color: $color-thir;
        border: none;
        color: white;
        margin-right: 10px;
        border-radius: 6px;
        transition: all 1s;
        font-size: 16px;

        @media screen and (max-width:768px) {
            margin: 20px;
        }
    }

    .play {
        background-color: transparent;
        border: 1px solid $color-whit;
        color: $color-whit;

        &:hover {
            background-color: $color-whit;
            color: $color-thi1;
        }
    }

    .app {
        border: 2px solid $color-thi1;

        &:hover {
            border: none;
            background-color: $color-whit;
            color: $color-thi1;
        }
    }

    .over-view-imge {
        position: relative;

        @media screen and (max-width:767px) {
            display: none;
        }

        .shap {
            width: 400px;
            height: 400px;
            background-color: $color-thir;
            border-radius: 30% 70% 57% 43% / 41% 60% 40% 59%;
            @extend %animation;

        }

        .shap-img {
            position: absolute;
            width: 500px;
            height: 500px;
            background-image: url(images/slider-one/mockup01-removebg-preview.png);
            background-position: center;
            background-size: cover;
            top: 0;
            @extend %animation
        }
    }
}

//start section two ( features )**********************************
.features {
    text-align: center;

    h2 {
        margin-bottom: 100px;

        @media screen and (max-width:768px) {
            font-size: 20px;
            margin-top: 200px;
        }

        span {
            display: inline-block;
            width: 50px;
            height: 5px;
            background-color: $color-whit;
        }
    }

    .all {
        @extend %center;
        @extend %flex;

        @media screen and (max-width:767px) {
            flex-direction: column;
        }

        div {
            width: 200px;
            height: 200px;
            background-color: $color-main;
            padding: 50px 10px;
            text-align: center;
            border-radius: 35px;
            transition: 0.5s;

            @media screen and (max-width:1300px) {
                margin: 10px;
            }

            @media screen and (max-width:768px) {
                margin: 5px;
                font-size: 12px;
                height: 150px;
            }

            &:hover {
                transform: rotate(5deg);
            }

            ion-icon {
                font-size: 35px;
                color: $color-whit;
            }

            span {
                display: block;
                width: 50px;
                height: 4px;
                background-color: $color-whit;
                margin-right: 65px;
                margin-top: 20px;

                @media screen and (max-width:1080px) {
                    display: none;
                }
            }
        }

        .odd {
            margin-top: -50px;

            @media screen and (max-width:767px) {
                margin-top: 0;
                display: inline-block;
            }
        }
    }

}

// start section three ( prices )**********************************
.prices1 {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    height: auto;

    h1 {
        padding-top: 30px;
        text-align: center;

        @media screen and (max-width:767px) {
            font-size: 20px;
            padding-right: 0;
        }

        span {
            display: inline-block;
            width: 50px;
            height: 5px;
            background-color: $color-whit;
        }
    }

    .prices {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;

        @media screen and (max-width:767px) {
            display: block;
        }

        div {
            width: 30%;
            height: 370px;
            padding: 50px 20px;
            text-align: center;
            border-radius: 6px;
            color: $color-whit;
            background-color: $color-thir;
            transition: 0.5s;

            &:hover {
                transform: rotate(5deg);
            }

            @media screen and (max-width:767px) {
                width: 80%;
                margin: auto;
                margin-bottom: 40px;
            }

            .icons {
                font-size: 40px;
                margin-bottom: 10px;
                color: $color-main;
            }

            p {
                margin-top: 20px;

                @media screen and (max-width:992px) {
                    font-size: 12px;
                }
            }

            button {
                width: 90px;
                height: 35px;
                background-color: $color-main;
                border: 1px solid $color-thir;
                border-radius: 5px;
                margin-top: 20px;
                text-align: center;

                &:hover {
                    box-shadow: 1px 1px 3px $color-thir;
                }
            }
        }

        .center {
            border: 2px solid $color-thi1;
        }
    }
}

// start section four ( download ) *******************************
.download-app {
    width: 100%;
    height: auto;
    background-color: $color-thir;
    margin-top: 100px;
    color: $color-whit;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width:768px) {
        text-align: center;
        padding: 10px 20px;
    }

    .download-app-text {
        width: 60%;
        padding: 0 140px;

        @media screen and (max-width:768px) {
            width: 100%;
            padding: 0;
        }

        p {
            padding: 20px 0;
        }
    }

    button {
        margin-top: 10px;
        width: 140px;
        height: 40px;
        background-color: $color-thir;
        border: 1px solid $color-whit;
        color: white;
        border-radius: 6px;
        margin: 0 10px;

        @media screen and (max-width:992px) {
            margin-bottom: 10px;
        }

        &:hover {
            background-color: $color-whit;
            color: $color-thir;
            box-shadow: 1px 1px 5px $color-whit;
        }
    }

    .download-app-imag {
        width: 500px;
        height: 400px;
        background-image: url(images/slider-one/download.png);
        background-size: cover;
        background-position: center;

        @media screen and (max-width:767px) {
            display: none;
        }
    }
}

// start section five (counter) **********************************
.counter {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 150px;

    .counter-text {
        text-align: center;
    }

    .counter-count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        text-align: center;

        ion-icon {
            font-size: 45px;
            color: $color-main;

            @media screen and (max-width:767px) {
                font-size: 25px;
            }
        }

        h2 {
            font-size: 30px;

            @media screen and (max-width:767px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 12px;
            font-weight: lighter;
            color: $color-main;
        }
    }
}

// start section six (slider )************************************
.swiper {
    width: 90%;
    height: 100%;

    .swiper-button-prev,
    .swiper-button-next {
        color: transparent
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 99%;
            height: 500px;
        }
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 30px;
    }
}

// start section seven (contact us )
.contact-us {
    width: 80%;
    margin: auto;
    margin-top: 200px;
    text-align: center;

    @media screen and (max-width:375px) {
        width: 100%;
    }

    .contact {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        text-align: center;

        @media screen and (max-width:1300px) {
            display: block;
            text-align: center;
        }

        input {
            display: inline-block;
            width: 600px;
            height: 50px;
            margin-bottom: 25px;
            border-radius: 6px;
            outline: none;
            border: 1px solid $color-main;
            padding: 10px;
            font-size: 12px;
            color: $color-thir;
            font-family: $main-font;
            background-color: $color-secn;

            @media screen and (max-width:767px) {
                width: 250px;
            }

            @media screen and (max-width:375px) {
                width: 250px;
            }
        }

        textarea {
            width: 400px;
            height: 200px;
            border: 2px solid $color-main;
            font-family: $main-font;
            padding: 10px;
            color: $color-thir;
            font-size: 15px;
            outline: none;
            overflow: hidden;
            background-color: $color-secn;


            @media screen and (max-width:768px) {
                width: 600px;
                height: 150px;
            }

            @media screen and (max-width:767px) {
                width: 250px;
                height: 150px;
            }
        }
    }
}

// start  sectio eigth ( footer )
.footer {
    width: 100%;
    background-color: $color-thir;

    @media screen and (max-width:375px) {
        margin-top: 30px;
        text-align: center;
    }

    .flex0 {
        width: 80%;
        height: 250px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        color: $color-whit;

        @media screen and (max-width:375px) {
            width: 95%;
        }

        @media screen and (max-width:767px) {
            display: block;
        }

        @media screen and (max-width:768px) {
            width: 100%;
            padding: 10px;
        }


    }

    .two,
    .three {
        @media screen and (max-width:767px) {
            display: none;
        }
    }

    .two {
        p {
            a {
                color: $color-whit;
            }
        }
    }

    button {
        width: 140px;
        height: 40px;
        border: 1px solid $color-whit;
        color: $color-whit;
        background-color: $color-thir;
        border-radius: 6px;
        display: block;
        margin: 10px;

        @media screen and (max-width:767px) {
            width: 120px;
            height: 40px;
            display: inline-block;
            margin-top: 30px;
        }

    }
}